* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a.menu-link {
  color: #d6a156; 
  text-decoration: none;
}

a.panel-link {
  color: #404040; 
  font-weight: 300;
}

a.panel-link:hover {
  font-weight: 400;
}

a.panel-link:active {
  font-weight: 600;
}

body {
  font-family: 'Titillium Web','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 16px;
  color: #404040;
  background-color: #fafafa;  /* gray */
  line-height: 1.42857143;
  letter-spacing: 1px;
}

.logo {
  height: 60px;
}

.menu-container {
  height: 72px;
  max-height: 72px;
  box-sizing: border-box;
  color: #d6a156;
  background-color: #fff;  /* Blue */
  width: 100%;
  display: flex;
  justify-content: center;    /* Add this */
  z-index: 100; 
}

.menu {
  /*border: 1px solid rgb(219, 17, 17);  /* For debugging */
  padding: 24px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.09);
}

.menu-center {
  display: flex;
  justify-content: flex-start;
  /*border: 1px solid rgb(17, 194, 156);  /* For debugging */
  margin: 60px auto;
  width: 900px;
  max-width: 984px;
}

.menu-center-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;  
  padding: 0 5px 0 5px;
  margin: 0 12px 0 12px;
  list-style: none;
  height: 72px;
  border: 0 0 5px 0 solid #fff;  /* For debugging */
}

.menu-center-links:hover {
  border-top: 5px solid #fff;
  border-bottom: 5px solid #d6a156;
}

.panel {
  width: 236px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: -18px;
  margin-left: -24px;
  padding-top: 5px;
}

.panel-item {
  padding: 10px;
  display: flex;
  align-items: flex-start;
}

.profile-container {
  padding: 20px 0;
  display: flex;
  justify-content: center;    /* Add this */
  margin: 50px auto;
  padding: 0 15px;
  max-width: 984px;
  /*border: 1px dotted rgb(194, 17, 17);  /* For debugging */
}

.profile {
  border: 1px solid rgb(194, 17, 17);  /* For debugging */
  width: 900px;
  display: flex;
  justify-content: flex-start;
}

.profile-info {
  /*border: 1px solid rgb(194, 17, 17);  /* For debugging */
}

.info-card {
  border: 1px solid rgb(194, 17, 17);  /* For debugging */
  width: 500px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.09);

 

}